<!-- Breadcrumbs-->
<ol class="breadcrumb">
	<li class="breadcrumb-item"><a href="#">Design-Time</a></li>
	<li class="breadcrumb-item active">Service-Call-Graph Extraction</li>
</ol>

<div class="row card-full-size">
	<div class="col-lg-6">
		<div class="card mb-3">
			<div class="card-header">
				<i class="fas fa-magic"></i> Extraction
			</div>
			<div class="card-body">
				<span>This tool can be used to automatically extract a
					service call graph (SCG) from the Java application. To do this, the
					binary files (.jar) of the application and the corresponding
					dependencies must be specified. It is also necessary that the
					project is configured without errors.</span>
				<hr>
				<div class="mb-3">
					<label for="sources">Binary JAR files and dependencies:</label>
					<div class="lead" id="jartree"></div>
				</div>
				<hr>
				<div class="form-check">
					<input class="form-check-input" type="checkbox" value=""
						id="mapBefore"> <label class="form-check-label"
						for="mapBefore"> Resolve the mapping between source code elements and the architectural model prior to the SCG extraction </label>
				</div>
				<hr>
				<div class="col-sm-12 col-md-4 float-right">
					<button class="btn btn-primary btn-block" type="submit"
						id="build-scg">Extract SCG</button>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-6">
		<div class="card mb-3" style="height: 100%;">
			<div class="card-header">
				<i class="fas fa-project-diagram"></i> Current Service-Call-Graph
			</div>
			<div class="card-full-size"
				style="min-height: 100px; border: 1px solid #444444; background-color: #222222;"
				id="scg-network"></div>
		</div>
	</div>
</div>