<!-- Breadcrumbs-->
<ol class="breadcrumb">
	<li class="breadcrumb-item"><a href="#">Design-Time</a></li>
	<li class="breadcrumb-item active">System Extraction</li>
</ol>

<div class="row">
	<div class="col-lg-6">
		<div class="card mb-3">
			<div class="card-header">
				<i class="fas fa-search"></i> Monitoring
			</div>
			<div class="card-body">

				<div class="grid">

					<div class="mb-3">
						<label for="username">Project path:</label>
						<div class="input-group">
							<div class="input-group-prepend">
								<span class="input-group-text">path</span>
							</div>
							<input type="text" class="form-control path" readonly
								placeholder="Project path">
							<div class="input-group-prepend">
								<span class="input-group-text"><img class="path-image"
									src="/config/img/iconfinder_Close_Icon_1398919.png" width="18" /></span>
								<span class="input-group-text path-text">Unknown</span>
							</div>
						</div>
					</div>

					<div class="mb-3">
						<label for="username">Correspondence file <span
							class="text-muted">(Optional)</span>:
						</label>
						<div class="input-group">
							<div class="input-group-prepend">
								<span class="input-group-text">path</span>
							</div>
							<input type="text" readonly class="form-control" id="corr_path"
								placeholder="Path of initial correspondence file">
							<div class="input-group-prepend">
								<span class="input-group-text"><img id="corr_image"
									src="/config/img/iconfinder_Tick_Mark_1398911.png" width="18" /></span>
							</div>
						</div>
					</div>

					<div class="mb-3">
						<label for="username">Instrumentation Output Folder:</label>
						<div class="input-group">
							<div class="input-group-prepend">
								<span class="input-group-text">path</span>
							</div>
							<input type="text" readonly class="form-control" id="instr_path"
								placeholder="Instrumented application output folder">
						</div>
					</div>

					<div class="row">
						<div class="col-12">
							<button class="btn btn-primary btn-md float-right" type="submit"
								id="instrument">Instrument application</button>
						</div>
					</div>

					<hr>

					<div class="row">
						<div class="col-12">
							<div class="progress">
								<div id="progress-el" class="progress-bar" role="progressbar"
									style="width: 0%;" aria-valuenow="0" aria-valuemin="0"
									aria-valuemax="100"></div>
							</div>
						</div>
					</div>

				</div>

			</div>
		</div>
	</div>
	
	<div class="col-lg-6">
		<div class="card mb-3">
			<div class="card-header">
				<i class="fas fa-hammer"></i> System model building process
			</div>
			<div class="card-body">

				<div class="grid">

					<div class="row">
						<div class="col-12">
							<span>Using this tool it is possible to build system
								models in a semi-automated (user-driven) process. This tool
								requires an existing and configured repository, which for
								example can be generated with <a href="https://sdqweb.ipd.kit.edu/wiki/EJBmox">EJBMox</a> or manually by hand. </span>
						</div>
					</div>

					<hr>

					<div class="row">
						<div class="col-12">
							<form action="/design/buildsys.html">
								<input class="btn btn-primary btn-md btn-block" type="submit"
									id="system-build" value="Start system model building procedure"></input>
							</form>
						</div>
					</div>

				</div>

			</div>
		</div>
	</div>
</div>