
<div id="container" class="flex-v">
	<div id="top" class="flex-h">
		<div id="top-left">

			<div class="card" style="height: 100%;">
				<div class="card-header" id="currSystemHeader">
					<i class="fas fa-hammer"></i> Current system
					<div class="float-right">
						<button class="btn btn-primary btn-sm" id="new-assembly" 
							disabled>New assembly</button>
					</div>
				</div>
				<div id="system-view" class="card-body-full"></div>
			</div>

		</div>
		<div id="top-right">

			<div class="card" style="height: 100%;">
				<div class="card-header">
					<i class="fas fa-link"></i> Service call graph
				</div>
				<div id="callgraph-view" class="card-body-full"></div>
			</div>

		</div>
	</div>
	<div id="bottom">
		<div class="card" style="height: 100%;">
			<div class="card-header">
				<i class="fas fa-home"></i> Initial system
			</div>
			<div id="old-system-view" class="card-body-full"></div>
		</div>
	</div>
</div>