<footer class="sticky-footer-small">
	<div class="my-auto" style="margin-left: 8px;">
		<button class="btn btn-primary btn-sm" id="start-procedure">Start building process</button>
	</div>
	<div class="my-auto" style="margin-left: 100px;">
		<button class="btn btn-primary btn-sm" id="build-callgraph" disabled>Build call graph</button>
	</div>
	<div class="my-auto" style="margin-left: 20px;">
		<button class="btn btn-primary btn-sm" id="build-system" disabled>Start building system</button>
	</div>
	
	<div class="my-auto" style="margin-left: 100px;">
		<button class="btn btn-primary btn-sm" id="skip-system" disabled>Skip system building procedure</button>
	</div>
	<div class="my-auto" style="margin-left: 20px;">
		<button class="btn btn-primary btn-sm" id="finish-procedure" disabled>Finish procedure</button>
	</div>
</footer>