<!-- Breadcrumbs-->
<ol class="breadcrumb">
	<li class="breadcrumb-item"><a href="#">Configuration</a></li>
	<li class="breadcrumb-item active">Conceptual properties</li>
</ol>

<div class="row">
	<div class="col-lg-8">
		<div class="card mb-3">
			<div class="card-header">
				<i class="fas fa-cog"></i> Conceptual Properties
			</div>
			<div class="card-body">

				<h6>
					<b>Sliding window configuration:</b>
				</h6>
				<hr>
				<div class="mb-3">
					<label>Sliding window size: </label>
					<div class="input-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><img
								id="sliding_window_simage"
								src="img/iconfinder_Tick_Mark_1398911.png" width="18" /></span>
						</div>
						<input type="text" class="form-control" id="sliding_window_size"
							placeholder="Sliding window size in minutes">
						<div class="input-group-prepend">
							<span class="input-group-text">seconds</span>
						</div>
					</div>
				</div>
				<div class="mb-3">
					<label>Sliding window trigger interval: </label>
					<div class="input-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><img
								id="sliding_window_timage"
								src="img/iconfinder_Tick_Mark_1398911.png" width="18" /></span>
						</div>
						<input type="text" class="form-control"
							id="sliding_window_trigger"
							placeholder="Sliding window trigger interval in minutes">
						<div class="input-group-prepend">
							<span class="input-group-text">seconds</span>
						</div>
					</div>
				</div>
				<hr>

				<h6>
					<b>Validation Feedback Loop (VFL) configuration:</b>
				</h6>
				<hr>

				<div class="mb-3">
					<label>Headless PCM simulator URL: </label>
					<div class="input-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><img
								id="headless_url_image"
								src="img/iconfinder_Tick_Mark_1398911.png" width="18" /></span>
						</div>
						<input type="text" class="form-control" id="headless_url"
							placeholder="http://host:port/">
						<div class="input-group-prepend">
							<span class="input-group-text">URL</span>
						</div>
					</div>
				</div>

				<div class="mb-3">
					<label>Simulation time: </label>
					<div class="input-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><img
								id="simulation_time_image"
								src="img/iconfinder_Tick_Mark_1398911.png" width="18" /></span>
						</div>
						<input type="text" class="form-control" id="simulation_time"
							placeholder="Simulation time">
						<div class="input-group-prepend">
							<span class="input-group-text">time units</span>
						</div>
					</div>
				</div>

				<div class="mb-3">
					<label>Measurements: </label>
					<div class="input-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><img
								id="measurements_image"
								src="img/iconfinder_Tick_Mark_1398911.png" width="18" /></span>
						</div>
						<input type="text" class="form-control" id="measurements"
							placeholder="Number of measurements">
						<div class="input-group-prepend">
							<span class="input-group-text">#</span>
						</div>
					</div>
				</div>

				<div class="mb-3">
					<label for="customRange1">Training/Validation split: </label>
					<div class="range range-success" id="slider-split-parent">
						<span class="text-secondary noselect"
							style="position: absolute; left: 5%; top: 2px;">Validation</span>
						<span class="text-secondary noselect"
							style="position: absolute; right: 10%; top: 2px;">Training</span>
						<input type="range" id="slider-split" name="range" min="0.0" max="1.0" value="0.2"
							step="0.05" onchange="range.value=value">
						<output id="range">0.2</output>
					</div>
				</div>

				<hr>

				<div class="col-sm-12 col-md-4 float-right">
					<button class="btn btn-primary btn-block" type="submit" id="save">Save
						configuration</button>
				</div>
			</div>
		</div>
	</div>
</div>