<!-- Breadcrumbs-->
<ol class="breadcrumb">
	<li class="breadcrumb-item"><a href="#">Configuration</a></li>
	<li class="breadcrumb-item active">Model properties</li>
</ol>

<div class="row">
	<div class="col-lg-7">
		<div class="card mb-3">
			<div class="card-header">
				<i class="fas fa-cog"></i> Model Paths Configuration
			</div>
			<div class="card-body">
				<div class="mb-3">
					<label for="username">Repository path <span
						class="text-muted">(*)</span>:
					</label>
					<div class="input-group">
						<div class="input-group-prepend">
							<span class="input-group-text">path</span>
						</div>
						<input type="text" class="form-control" id="repo_path"
							placeholder="Repository path">
						<div class="input-group-prepend">
							<span class="input-group-text"><img id="repo_image"
								src="img/iconfinder_Tick_Mark_1398911.png" width="18" /></span>
						</div>
					</div>
				</div>

				<div class="mb-3">
					<label for="username">System path <span class="text-muted">(*)</span>:
					</label>
					<div class="input-group">
						<div class="input-group-prepend">
							<span class="input-group-text">path</span>
						</div>
						<input type="text" class="form-control" id="sys_path"
							placeholder="System path">
						<div class="input-group-prepend">
							<span class="input-group-text"><img id="sys_image"
								src="img/iconfinder_Tick_Mark_1398911.png" width="18" /></span>
						</div>
					</div>
				</div>

				<div class="mb-3">
					<label for="username">Resource environment path <span
						class="text-muted">(*)</span>:
					</label>
					<div class="input-group">
						<div class="input-group-prepend">
							<span class="input-group-text">path</span>
						</div>
						<input type="text" class="form-control" id="res_path"
							placeholder="Resource environment path">
						<div class="input-group-prepend">
							<span class="input-group-text"><img id="res_image"
								src="img/iconfinder_Tick_Mark_1398911.png" width="18" /></span>
						</div>
					</div>
				</div>

				<div class="mb-3">
					<label for="username">Allocation path <span
						class="text-muted">(*)</span>:
					</label>
					<div class="input-group">
						<div class="input-group-prepend">
							<span class="input-group-text">path</span>
						</div>
						<input type="text" class="form-control" id="alloc_path"
							placeholder="Allocation path">
						<div class="input-group-prepend">
							<span class="input-group-text"><img id="alloc_image"
								src="img/iconfinder_Tick_Mark_1398911.png" width="18" /></span>
						</div>
					</div>
				</div>

				<div class="mb-3">
					<label for="username">Usage path <span class="text-muted">(*)</span>:
					</label>
					<div class="input-group">
						<div class="input-group-prepend">
							<span class="input-group-text">path</span>
						</div>
						<input type="text" class="form-control" id="usage_path"
							placeholder="Usage path">
						<div class="input-group-prepend">
							<span class="input-group-text"><img id="usage_image"
								src="img/iconfinder_Tick_Mark_1398911.png" width="18" /></span>
						</div>
					</div>
				</div>

				<hr>

				<div class="mb-3">
					<label for="username">Instrumentation model path <span
						class="text-muted">(*)</span>:
					</label>
					<div class="input-group">
						<div class="input-group-prepend">
							<span class="input-group-text">path</span>
						</div>
						<input type="text" class="form-control" id="inm_path"
							placeholder="Instrumentation model path">
						<div class="input-group-prepend">
							<span class="input-group-text"><img id="inm_image"
								src="img/iconfinder_Tick_Mark_1398911.png" width="18" /></span>
						</div>
					</div>
				</div>

				<div class="mb-3">
					<label for="username">Correspondences path <span
						class="text-muted">(*)</span>:
					</label>
					<div class="input-group">
						<div class="input-group-prepend">
							<span class="input-group-text">path</span>
						</div>
						<input type="text" class="form-control" id="corr_path"
							placeholder="Correspondences path">
						<div class="input-group-prepend">
							<span class="input-group-text"><img id="corr_image"
								src="img/iconfinder_Tick_Mark_1398911.png" width="18" /></span>
						</div>
					</div>
				</div>

				<div class="mb-3">
					<label for="username">Runtime environment path <span
						class="text-muted">(*)</span>:
					</label>
					<div class="input-group">
						<div class="input-group-prepend">
							<span class="input-group-text">path</span>
						</div>
						<input type="text" class="form-control" id="rem_path"
							placeholder="Runtime environment path">
						<div class="input-group-prepend">
							<span class="input-group-text"><img id="rem_image"
								src="img/iconfinder_Tick_Mark_1398911.png" width="18" /></span>
						</div>
					</div>
				</div>

				<hr>

				<div class="col-sm-12 col-md-4 float-right">
					<button class="btn btn-primary btn-block" type="submit" id="save">Save
						configuration</button>
				</div>
			</div>
		</div>
	</div>

	<div class="col-lg-5">
		<div class="card mb-3">
			<div class="card-header">
				<i class="fas fa-tools"></i> Configuration Tools
			</div>
			<div class="card-body">
				<h6>
					<b>Empty sample models:</b>
				</h6>
				<hr>
				<ul class="list-group">
					<li class="list-group-item"><span>Repository (PCM)</span>
						<button class="btn-info float-right" id="download_repo">
							<i class="fa fa-download"></i>
						</button></li>
					<li class="list-group-item"><span>System (PCM)</span>
						<button class="btn-info float-right" id="download_sys">
							<i class="fa fa-download"></i>
						</button></li>
					<li class="list-group-item"><span>Resource Environment
							(PCM)</span>
						<button class="btn-info float-right" id="download_resenv">
							<i class="fa fa-download"></i>
						</button></li>
					<li class="list-group-item"><span>Allocation (PCM)</span>
						<button class="btn-info float-right" id="download_allocation">
							<i class="fa fa-download"></i>
						</button></li>
					<li class="list-group-item"><span>Usage Model (PCM)</span>
						<button class="btn-info float-right" id="download_usage">
							<i class="fa fa-download"></i>
						</button></li>
				</ul>
				<ul class="list-group">
					<li class="list-group-item"><span>Correspondences</span>
						<button class="btn-info float-right" id="download_corr">
							<i class="fa fa-download"></i>
						</button></li>
					<li class="list-group-item"><span>Instrumentation Model</span>
						<button class="btn-info float-right" id="download_inm">
							<i class="fa fa-download"></i>
						</button></li>
					<li class="list-group-item"><span>Runtime Environment</span>
						<button class="btn-info float-right" id="download_rem">
							<i class="fa fa-download"></i>
						</button></li>
				</ul>
				<hr>

				<h6>
					<b>Automated Mapping Initializers:</b>
				</h6>

				<hr>

				<button class="btn btn-primary btn-block" id="init_mapping">
					Extract mapping from source code</button>

				<button class="btn btn-primary btn-block" id="init_inm">
					Build initial instrumentation model</button>

			</div>
		</div>
	</div>
</div>

<!-- Modal Mapping Extraction -->
<div class="modal fade" id="modal-mapping" tabindex="-1" role="dialog"
	aria-labelledby="selectModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="selectModalLabel">Mapping
					extraction</h5>
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<span>Using this utility allows you to extract the mapping
					between source code elements and architecture model elements based
					on annotations and comments in the code. In the first step of the
					procedure, the existing mappings are removed, so please be careful
					if there are existing mappings.<br>
				<br> <b>The configuration must be error-free in order for
						this procedure to be successful.</b>
				</span>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
				<button type="button" class="btn btn-primary" id="mapping-extract">Start</button>
			</div>
		</div>
	</div>
</div>

<!-- Modal Instrumentation Model Init -->
<div class="modal fade" id="modal-inm-init" tabindex="-1" role="dialog"
	aria-labelledby="selectModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="selectModalLabel">Initialize
					instrumentation model</h5>
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<span>The following procedure uses the repository model and
					creates corresponding instrumentation points in the instrumentation
					model. Be careful using this tool as it overrides the currently
					used instrumentation model.<br>
				<br><b>The configuration must be error-free in order for this
					procedure to be successful.</b>
				</span>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
				<button type="button" class="btn btn-primary" id="inm-init-start">Start</button>
			</div>
		</div>
	</div>
</div>