<!-- Breadcrumbs-->
<ol class="breadcrumb">
	<li class="breadcrumb-item"><a href="#">Configuration</a></li>
	<li class="breadcrumb-item active">Monitoring</li>
</ol>

<div class="row">
	<div class="col-lg-8">
		<div class="card mb-3">
			<div class="card-header">
				<i class="fas fa-search"></i> Monitoring configuration
			</div>

			<div class="card-body">
				<span>Our approach distinguishes between fine granular and
					coarse granular monitoring. The automated validation, which is
					woven into our approach, allows switching between fine and coarse
					granular monitoring at runtime. This works on the service level and
					if metrics reach certain values, the coarse granular monitoring is
					disabled for specific services. These thresholds can be configured
					here.</span>
				<hr>
				<span class="text-secondary">Deactivate the fine granular monitoring when the following rules are evaluated to true:</span>
				<div id="builder-basic" style="margin-top: 5px; width: 100%;"></div>
				<hr>
				<div class="col-sm-12 col-md-4 float-right">
					<button class="btn btn-primary btn-block" id="save">Save
						configuration</button>
				</div>
			</div>
		</div>
	</div>
</div>