@
keyframes spinner-line-fade-more { 0%, 100% {
	opacity: 0; /* minimum opacity */
}

1%
{
opacity






:



 



1;
}
}
@
keyframes spinner-line-fade-quick { 0%, 39%, 100% {
	opacity: 0.25; /* minimum opacity */
}

40%
{
opacity






:



 



1;
}
}
@
keyframes spinner-line-fade-default { 0%, 100% {
	opacity: 0.22; /* minimum opacity */
}

1%
{
opacity






:



 



1;
}
}
.conflictLabel {
	color: #8b0000;
}

.green-dot {
	height: 20px;
	width: 20px;
	background-color: #006400;
	border-radius: 50%;
	display: inline-block;
	margin-right: 7px;
}

.red-dot {
	height: 20px;
	width: 20px;
	background-color: #8b0000;
	border-radius: 50%;
	display: inline-block;
	margin-right: 7px;
}

#container {
	width: 100%;
	height: 100%;
}

.card-full-size {
	width: 100%;
	height: 100%;
}

.flex-v {
	display: flex;
	flex-direction: column;
}

.flex-h {
	display: flex;
	flex-direction: row;
}

.gutter {
	background-color: #eee;
	background-repeat: no-repeat;
	background-position: 50%;
}

.gutter.gutter-vertical {
	cursor: row-resize;
	background-image:
		url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
}

.gutter.gutter-horizontal {
	cursor: col-resize;
	background-image:
		url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
}

.split {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* Background loading */
#cover-spin {
	position: fixed;
	width: 100%;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: rgba(255, 255, 255, 0.7);
	z-index: 9999;
	display: none;
}

@
-webkit-keyframes spin {
	from {-webkit-transform: rotate(0deg);
}

to {
	-webkit-transform: rotate(360deg);
}

}
@
keyframes spin {
	from {transform: rotate(0deg);
}

to {
	transform: rotate(360deg);
}

}
#cover-spin::after {
	content: '';
	display: block;
	position: absolute;
	left: 48%;
	top: 40%;
	width: 40px;
	height: 40px;
	border-style: solid;
	border-color: black;
	border-top-color: transparent;
	border-width: 4px;
	border-radius: 50%;
	-webkit-animation: spin .8s linear infinite;
	animation: spin .8s linear infinite;
}

.pills-rounded .nav-item .nav-link {
	border-radius: 10em;
}

.pills-light-purple .nav-item .nav-link.active {
	background-color: #ba68c8;
}

.pills-outline-red .nav-item .nav-link {
	border: 2px solid #fff;
	color: #666;
	background-color: transparent;
}

.pills-outline-red .nav-item .nav-link:hover {
	border: 2px solid #eee;
}

.pills-outline-red .nav-item .nav-link.active {
	border: 2px solid #f44336;
	color: #f44336;
}

.pills-outline-red .nav-item .nav-link.active:hover {
	border: 2px solid #f44336;
	color: #f44336;
}

.pills-outline-green .nav-item .nav-link {
	border: 2px solid #fff;
	color: #666;
	background-color: transparent;
}

.pills-outline-green .nav-item .nav-link:hover {
	border: 2px solid #eee;
}

.pills-outline-green .nav-item .nav-link.active {
	border: 2px solid #4caf50;
	color: #4caf50;
}

.pills-outline-green .nav-item .nav-link.active:hover {
	border: 2px solid #4caf50;
	color: #4caf50;
}

.nav-tabs>li .close {
	margin: -2px 0 0 10px;
	font-size: 24px;
}

.marginBottom {
	margin-bottom: 1px !important;
}

.btn-circle {
	width: 30px;
	height: 30px;
	padding: 6px 0px;
	border-radius: 15px;
	text-align: center;
	font-size: 12px;
	line-height: 1.42857;
}

.range {
	display: table;
	position: relative;
	height: 25px;
	margin-top: 20px;
	background-color: rgb(245, 245, 245);
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	cursor: pointer;
}

.range input[type="range"] {
	-webkit-appearance: none !important;
	-moz-appearance: none !important;
	-ms-appearance: none !important;
	-o-appearance: none !important;
	appearance: none !important;
	display: table-cell;
	width: 100%;
	background-color: transparent;
	height: 25px;
	cursor: pointer;
}

.range input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none !important;
	-moz-appearance: none !important;
	-ms-appearance: none !important;
	-o-appearance: none !important;
	appearance: none !important;
	width: 11px;
	height: 25px;
	color: rgb(255, 255, 255);
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: 0px;
	background-color: rgb(153, 153, 153);
}

.range input[type="range"]::-moz-slider-thumb {
	-webkit-appearance: none !important;
	-moz-appearance: none !important;
	-ms-appearance: none !important;
	-o-appearance: none !important;
	appearance: none !important;
	width: 11px;
	height: 25px;
	color: rgb(255, 255, 255);
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: 0px;
	background-color: rgb(153, 153, 153);
}

.range output {
	display: table-cell;
	padding: 3px 5px 2px;
	min-width: 40px;
	color: rgb(255, 255, 255);
	background-color: rgb(153, 153, 153);
	text-align: center;
	text-decoration: none;
	border-radius: 4px;
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
	width: 1%;
	white-space: nowrap;
	vertical-align: middle;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	transition: all 0.5s ease;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: -moz-none;
	-o-user-select: none;
	user-select: none;
}

.range input[type="range"] {
	outline: none;
}

.range.range-primary input[type="range"]::-webkit-slider-thumb {
	background-color: rgb(66, 139, 202);
}

.range.range-primary input[type="range"]::-moz-slider-thumb {
	background-color: rgb(66, 139, 202);
}

.range.range-primary output {
	background-color: rgb(66, 139, 202);
}

.range.range-primary input[type="range"] {
	outline-color: rgb(66, 139, 202);
}

.range.range-success input[type="range"]::-webkit-slider-thumb {
	background-color: rgb(92, 184, 92);
}

.range.range-success input[type="range"]::-moz-slider-thumb {
	background-color: rgb(92, 184, 92);
}

.range.range-success output {
	background-color: rgb(92, 184, 92);
}

.range.range-success input[type="range"] {
	outline-color: rgb(92, 184, 92);
}

.range.range-info input[type="range"]::-webkit-slider-thumb {
	background-color: rgb(91, 192, 222);
}

.range.range-info input[type="range"]::-moz-slider-thumb {
	background-color: rgb(91, 192, 222);
}

.range.range-info output {
	background-color: rgb(91, 192, 222);
}

.range.range-info input[type="range"] {
	outline-color: rgb(91, 192, 222);
}

.range.range-warning input[type="range"]::-webkit-slider-thumb {
	background-color: rgb(240, 173, 78);
}

.range.range-warning input[type="range"]::-moz-slider-thumb {
	background-color: rgb(240, 173, 78);
}

.range.range-warning output {
	background-color: rgb(240, 173, 78);
}

.range.range-warning input[type="range"] {
	outline-color: rgb(240, 173, 78);
}

.range.range-danger input[type="range"]::-webkit-slider-thumb {
	background-color: rgb(217, 83, 79);
}

.range.range-danger input[type="range"]::-moz-slider-thumb {
	background-color: rgb(217, 83, 79);
}

.range.range-danger output {
	background-color: rgb(217, 83, 79);
}

.range.range-danger input[type="range"] {
	outline-color: rgb(217, 83, 79);
}

.noselect {
	pointer-events: none;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

.no_checkbox>i.jstree-checkbox
{
    display:none
}