<ol class="breadcrumb">
	<li class="breadcrumb-item"><a href="#">Design-Time</a></li>
	<li class="breadcrumb-item active">System Extraction</li>
</ol>

<div class="row">
	<div class="col mb-3">
		<button class="btn btn-primary btn-sm" id="start-procedure">Start
			building process</button>
		<button class="btn btn-primary btn-sm" id="build-system" disabled>Start
			building system</button>
		<button class="btn btn-primary btn-sm" id="finish-procedure" disabled>Finish
			procedure</button>
	</div>
</div>

<div class="row mb-3">
	<div class="col">
		<div class="card">
			<div class="card-header">
				<i class="fas fa-sitemap"></i> Current System Model
			</div>
			<div class="card-body" id="system-view">
				<div class="lead mb-3" id="tree-system"></div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="card">
			<div class="card-header">
				<i class="fas fa-sitemap"></i> Reference Repository Model
			</div>
			<div class="card-body">
				<div class="lead mb-3" id="tree-repository"></div>
			</div>
		</div>
	</div>
</div>

<div class="row mb-3">
	<div class="col">
		<div class="card">
			<div class="card-header">
				<i class="fas fa-exclamation-circle"></i> Current Task
			</div>
			<div class="card-body">
				<div class="alert alert-info">
					<i class="fa fa-info mr-3"></i><span id="todo-label">Nothing
						to do for now. Start or finish the procedure by using the buttons
						above.</span>
				</div>
				<div id="conflict-body">
					<h4>Target</h4>
					<div class="lead mb-3" id="tree-conflict1"></div>
					<h4>Possible solutions</h4>
					<div class="lead mb-3" id="tree-conflict2"></div>
					<button class="btn btn-primary btn-md" id="resolve-conflict">Resolve conflict</button>
				</div>
			</div>
		</div>
	</div>
</div>