<!-- Breadcrumbs-->
<ol class="breadcrumb">
	<li class="breadcrumb-item"><a href="#">Configuration</a></li>
	<li class="breadcrumb-item active">Model properties</li>
</ol>

<div class="card mb-3 col-lg-8">
	<div class="card-header">
		<i class="fas fa-cog"></i> Project properties
	</div>
	<div class="card-body">
		<div class="mb-3">
			<label for="username">Repository path <span
				class="text-muted">(Optional)</span>:
			</label>
			<div class="input-group">
				<div class="input-group-prepend">
					<span class="input-group-text">path</span>
				</div>
				<input type="text" class="form-control" id="repo_path"
					placeholder="Repository path">
				<div class="input-group-prepend">
					<span class="input-group-text"><img id="repo_image"
						src="img/iconfinder_Tick_Mark_1398911.png" width="18" /></span>
				</div>
			</div>
		</div>

		<div class="mb-3">
			<label for="username">System path <span class="text-muted">(Optional)</span>:
			</label>
			<div class="input-group">
				<div class="input-group-prepend">
					<span class="input-group-text">path</span>
				</div>
				<input type="text" class="form-control" id="sys_path"
					placeholder="System path">
				<div class="input-group-prepend">
					<span class="input-group-text"><img id="sys_image"
						src="img/iconfinder_Tick_Mark_1398911.png" width="18" /></span>
				</div>
			</div>
		</div>

		<div class="mb-3">
			<label for="username">Resource environment path <span
				class="text-muted">(Optional)</span>:
			</label>
			<div class="input-group">
				<div class="input-group-prepend">
					<span class="input-group-text">path</span>
				</div>
				<input type="text" class="form-control" id="res_path"
					placeholder="Resource environment path">
				<div class="input-group-prepend">
					<span class="input-group-text"><img id="res_image"
						src="img/iconfinder_Tick_Mark_1398911.png" width="18" /></span>
				</div>
			</div>
		</div>

		<div class="mb-3">
			<label for="username">Allocation path <span
				class="text-muted">(Optional)</span>:
			</label>
			<div class="input-group">
				<div class="input-group-prepend">
					<span class="input-group-text">path</span>
				</div>
				<input type="text" class="form-control" id="alloc_path"
					placeholder="Allocation path">
				<div class="input-group-prepend">
					<span class="input-group-text"><img id="alloc_image"
						src="img/iconfinder_Tick_Mark_1398911.png" width="18" /></span>
				</div>
			</div>
		</div>

		<div class="mb-3">
			<label for="username">Usage path <span class="text-muted">(Optional)</span>:
			</label>
			<div class="input-group">
				<div class="input-group-prepend">
					<span class="input-group-text">path</span>
				</div>
				<input type="text" class="form-control" id="usage_path"
					placeholder="Usage path">
				<div class="input-group-prepend">
					<span class="input-group-text"><img id="usage_image"
						src="img/iconfinder_Tick_Mark_1398911.png" width="18" /></span>
				</div>
			</div>
		</div>

		<hr>

		<div class="col-sm-12 col-md-4 float-right">
			<button class="btn btn-primary btn-lg btn-block" type="submit"
				id="save">Save configuration</button>
		</div>
	</div>
</div>