<!-- Breadcrumbs-->
<ol class="breadcrumb">
	<li class="breadcrumb-item"><a href="#">Configuration</a></li>
	<li class="breadcrumb-item active">Project properties</li>
</ol>

<div class="card mb-3 col-lg-8">
	<div class="card-header">
		<i class="fas fa-cog"></i> Project properties
	</div>
	<div class="card-body">
		<form>
			<div class="mb-3">
				<label for="username">Project path:</label>
				<div class="input-group">
					<div class="input-group-prepend">
						<span class="input-group-text">path</span>
					</div>
					<input type="text" class="form-control" id="path"
						placeholder="Project path">
					<div class="input-group-prepend">
						<span class="input-group-text"><img id="path-image"
							src="img/iconfinder_Close_Icon_1398919.png" width="18" /></span> <span
							class="input-group-text" id="path-text">Unknown</span>
					</div>
				</div>
			</div>

			<div class="mb-3">
				<label for="sources">Source Folders:</label>
				<div class="lead" id="sourcetree"></div>
			</div>

			<div class="mb-3">
				<label for="username">Instrumentation Output Folder:</label>
				<div class="input-group">
					<div class="input-group-prepend">
						<span class="input-group-text">path</span>
					</div>
					<input type="text" class="form-control" id="instr_path"
						placeholder="Instrumented application output folder">
				</div>
			</div>

			<hr class="mb-4">
		</form>

		<div class="col-sm-12 col-md-4 float-right">
			<button class="btn btn-primary btn-lg btn-block" type="submit"
				id="save">Save configuration</button>
		</div>
	</div>
</div>