<!-- Breadcrumbs-->
<ol class="breadcrumb">
	<li class="breadcrumb-item"><a href="#">Run-Time</a></li>
	<li class="breadcrumb-item active">Overview</li>
</ol>

<div class="row col-lg-12" style="height: 100%;">

	<div class="card col-12" style="height: 100%;">
		<div class="card-header">
			<ul class="nav nav-tabs card-header-tabs" id="bologna-list"
				role="tablist">
				<li class="nav-item"><a class="nav-link active"
					href="#overview" role="tab" aria-controls="overview"
					aria-selected="true">Overview</a></li>
				<li class="nav-item"><a class="nav-link" href="#history"
					role="tab" aria-controls="history" aria-selected="false">Repository</a>
				</li>
				<li class="nav-item"><a class="nav-link" href="#deals"
					role="tab" aria-controls="deals" aria-selected="false">System</a></li>
				<li class="nav-item"><a class="nav-link" href="#deals"
					role="tab" aria-controls="deals" aria-selected="false">Usagemodel</a></li>
				<li class="nav-item"><a class="nav-link" href="#deals"
					role="tab" aria-controls="deals" aria-selected="false">Resource
						Environment</a></li>
				<li class="nav-item"><a class="nav-link" href="#deals"
					role="tab" aria-controls="deals" aria-selected="false">Allocation</a></li>
			</ul>
		</div>
		<div class="card-body" style="height: 100%;">
			<div class="tab-content mt-3">
				<div class="tab-pane active" id="overview" role="tabpanel">
				</div>

				<div class="tab-pane" id="history" role="tabpanel"
					aria-labelledby="history-tab">
					<p class="card-text">First settled around 1000 BCE and then
						founded as the Etruscan Felsina about 500 BCE, it was occupied by
						the Boii in the 4th century BCE and became a Roman colony and
						municipium with the name of Bononia in 196 BCE.</p>
					<a href="#" class="card-link text-danger">Read more</a>
				</div>

				<div class="tab-pane" id="deals" role="tabpanel"
					aria-labelledby="deals-tab">
					<p class="card-text">Immerse yourself in the colours, aromas
						and traditions of Emilia-Romagna with a holiday in Bologna, and
						discover the city's rich artistic heritage.</p>
					<a href="#" class="btn btn-danger btn-sm">Get Deals</a>
				</div>
			</div>
		</div>
	</div>

</div>