<nav class="navbar navbar-expand navbar-dark bg-dark static-top">

	<a class="navbar-brand mr-1" href="index.html">dModel Dashboard</a>

	<button class="btn btn-link btn-sm text-white order-1 order-sm-0"
		id="sidebarToggle" href="#">
		<i class="fas fa-bars"></i>
	</button>

	<!-- Navbar -->
	<ul class="navbar-nav ml-auto mr-0 mr-md-3 my-2 my-md-0">
		<li class="nav-item">
			<div class="row align-items-center"
				style="color: white; text-align: center; height: 100%; margin-right: 10px;">
				<span th:if="${runtime_available}" class="green-dot align-middle"></span><span
					th:if="${not runtime_available}" class="red-dot align-middle"></span>
				<span class="align-middle">Application <b th:if="${not runtime_available}">not</b> running
				</span>
			</div>
		</li>
		<li class="nav-item dropdown no-arrow mx-1"><a
			class="nav-link dropdown-toggle" href="#" id="alertsDropdown"
			role="button" data-toggle="dropdown" aria-haspopup="true"
			aria-expanded="false"> <i class="fas fa-bell fa-fw"></i> <span
				class="badge badge-danger">9+</span>
		</a>
			<div class="dropdown-menu dropdown-menu-right"
				aria-labelledby="alertsDropdown">
				<a class="dropdown-item" href="#">Action</a> <a
					class="dropdown-item" href="#">Another action</a>
				<div class="dropdown-divider"></div>
				<a class="dropdown-item" href="#">Something else here</a>
			</div></li>
	</ul>

</nav>