
<div id="container" class="flex-h">
	<div id="top-left">

		<div class="card" style="height: 100%;">
			<div class="card-header" id="currSystemHeader">
				<i class="fas fa-hammer"></i> Current system model
				<div class="float-right">
					<button class="btn btn-primary btn-sm" id="new-assembly" disabled>New
						assembly</button>
				</div>
			</div>
			<div id="system-view" class="card-body-full"></div>
		</div>

	</div>
	<div id="top-right">

		<div class="card" style="height: 100%;">
			<div class="card-header"  id="currRepositoryHeader">
				<i class="fas fa-link"></i> Current repository model
			</div>
			<div id="repository-view" class="card-body-full"></div>
		</div>

	</div>
</div>