<script
	src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.3.8/jstree.min.js"
	type="text/javascript"></script>

<script
	src="https://cdnjs.cloudflare.com/ajax/libs/spin.js/2.3.2/spin.min.js"
	type="text/javascript"></script>

<script
	src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"
	type="text/javascript"></script>

<script src="/static-js/ecore/ecore-tree.js"></script>

<script th:inline="javascript">
	var repository =/*[[${repository}]]*/ null;
</script>

<script src="/static-js/design/dt-system-v2.js"></script>