<!-- Breadcrumbs-->
<ol class="breadcrumb">
	<li class="breadcrumb-item"><a href="#">Models</a></li>
	<li class="breadcrumb-item active">Overview</li>
</ol>

<div class="row mb-3">
	<div class="col">
		<div class="card">
			<div class="card-header">
				<i class="fas fa-sitemap"></i> Repository model
			</div>
			<div class="card-body">
				<div class="lead mb-3" id="tree-repository"></div>
				<p>
					Last updated: <b><span
						th:text="${#dates.format(repository_updated)}"></span></b>
				</p>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="card">
			<div class="card-header">
				<i class="fas fa-sitemap"></i> System model
			</div>
			<div class="card-body">
				<div class="lead mb-3" id="tree-system"></div>
				<p>
					Last updated: <b><span
						th:text="${#dates.format(system_updated)}"></span></b>
				</p>
			</div>
		</div>
	</div>
</div>

<div class="row mb-3">
	<div class="col">
		<div class="card">
			<div class="card-header">
				<i class="fas fa-users"></i> Usage model
			</div>
			<div class="card-body">
				<div class="lead mb-3" id="tree-usage"></div>
				<p>
					Last updated: <b><span
						th:text="${#dates.format(usage_updated)}"></span></b>
				</p>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="card">
			<div class="card-header">
				<i class="fas fa-network-wired"></i> Resource environment model
			</div>
			<div class="card-body">
				<div class="lead mb-3" id="tree-resourceenv"></div>
				<p>
					Last updated: <b><span
						th:text="${#dates.format(resenv_updated)}"></span></b>
				</p>
			</div>
		</div>
	</div>
</div>

<div class="row mb-3">
	<div class="col-6">
		<div class="card">
			<div class="card-header">
				<i class="fas fa-thumbtack"></i> Allocation model
			</div>
			<div class="card-body">
				<div class="lead mb-3" id="tree-allocation"></div>
				<p>
					Last updated: <b><span
						th:text="${#dates.format(allocation_updated)}"></span></b>
				</p>
			</div>
		</div>
	</div>
</div>