<!-- Breadcrumbs-->
<ol class="breadcrumb">
	<li class="breadcrumb-item"><a href="#">Validation</a></li>
	<li class="breadcrumb-item active">Overview</li>
</ol>

<div class="row">
	<div class="col-5">
		<div class="row">
			<div class="col-6">
				<div class="list-group" id="list-tab" role="tablist">
					<a class="list-group-item list-group-item-action" id="list-v1-list"
						data-toggle="list" href="#list-v1" role="tab" aria-controls="home">Pre-Validation</a>
					<a class="list-group-item list-group-item-action" id="list-v2-list"
						data-toggle="list" href="#list-v2" role="tab"
						aria-controls="profile">Usage Model Validation</a> <a
						class="list-group-item list-group-item-action" id="list-v3-list"
						data-toggle="list" href="#list-v3" role="tab"
						aria-controls="messages">Repository Validation</a> <a
						class="list-group-item list-group-item-action" id="list-v4-list"
						data-toggle="list" href="#list-v4" role="tab"
						aria-controls="settings">Final Validation</a>
				</div>
			</div>
			<div class="col-6">
				<div class="list-group" id="list-points" role="tablist"></div>
			</div>
		</div>
	</div>
	<div class="col-7">
		<ul class="nav nav-tabs marginBottom" id="tab-list" role="tablist">
		</ul>
		<div class="tab-content" id="tab-content">
		</div>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="selectModal" tabindex="-1" role="dialog"
	aria-labelledby="selectModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="selectModalLabel">Select
					visualization type</h5>
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<select class="form-control" id="sel1">
					<option value="XY">XY Plot</option>
					<option value="CDF">Cumulative Distribution Function</option>
					<option value="Histogram">Histogram</option>
					<option value="Metrics">Metrics</option>
				</select>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
				<button type="button" class="btn btn-primary" id="modal-visualize">Visualize</button>
			</div>
		</div>
	</div>
</div>